@use '@/assets/styles/abstracts/' as *;

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rem 60rem 60rem;
    width: 100%;
    z-index: 10;
    pointer-events: none;

    &>* {
        pointer-events: auto;
    }

    &__zoom {
        display: flex;
        align-items: center;
        width: 92rem;
        height: 32rem;
        background: #F9F8F8;
        border-radius: 100rem;
        box-shadow: 0 0 10rem rgba(140, 140, 140, 0.1);
        position: relative;

        &__divider {
            position: absolute;
            width: 1rem;
            height: 24rem;
            left: 50%;
            top: 4rem;
            transform: translateX(-50%);
            background: rgba(60, 60, 67, 0.3);
            border-radius: 8rem;
        }

        &__button {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            font-family: 'SF Pro', sans-serif;
            @include font(17, 590, 22);
            letter-spacing: -0.43rem;
            color: #000000;
            cursor: pointer;
            transition: opacity 0.3s ease;

            &:first-child {
                border-radius: 100rem 0 0 100rem;
            }

            &:last-child {
                border-radius: 0 100rem 100rem 0;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 10rem;

        &__skip {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12rem 8rem;
            gap: 8rem;
            width: 110rem;
            height: 48rem;
            background: #FAFAFA;
            border: 1rem solid rgba(0, 0, 0, 0.05);
            border-radius: 99rem;
            font-family: 'DM Sans', sans-serif;
            @include font(16, 500, 24);
            color: #CCCCCC;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: color-mix(in srgb, #FAFAFA 97%, black);
            }
        }

        &__next {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10rem;
            gap: 10rem;
            width: 110rem;
            height: 48rem;
            background: #A17FE7;
            border-radius: 24rem;
            border: none;
            font-family: 'DM Sans', sans-serif;
            @include font(16, 500, 24);
            color: #FAFAFA;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background: color-mix(in srgb, #A17FE7 95%, white);
            }

            &:active {
                background: color-mix(in srgb, #A17FE7 95%, black);
            }
        }
    }
}
