@use '@/assets/styles/abstracts/' as *;

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12rem;
    gap: 12rem;
    width: 220rem;
    max-height: 232rem;
    overflow-y: auto;
    background: $white;
    border: 1rem solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10rem rgba(140, 140, 140, 0.1);
    border-radius: 16rem;

    &__item {
        display: flex;
        align-items: center;
        gap: 8rem;
        width: 100%;
    }

    &__rank {
        display: none;
        width: 24rem;
        @include font(14, 500, 18);
        text-align: center;
        color: #4D4D4D;
    }

    &__profile {
        display: flex;
        align-items: center;
        gap: 8rem;
    }

    &__avatar {
        width: 32rem;
        height: 32rem;
        border-radius: 100rem;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font(12, 600, 14);
        color: $white;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span {
            text-transform: uppercase;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__name {
        @include font(14, 500, 18);
        color: #4D4D4D;
    }

    &__position {
        @include font(12, 400, 14);
        color: #B3B3B3;
    }

    &__percentage {
        display: none;
        @include font(14, 600, 18);
        text-align: right;
        color: #A17FE7;
    }
}