@use '@/assets/styles/abstracts/' as *;

.welcome {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #F9F8F8;
  position: relative;
  overflow: hidden;

  &__left {
    position: relative;
    width: 707rem;
    padding: 68rem 60rem 100rem;
    height: 100%;
    background: #262626;
    border-radius: 0 0 24rem 24rem;

    &__header {
      display: flex;
    }

    &__blur {
      position: absolute;
      width: 284.02rem;
      height: 295.61rem;
      left: -41rem;
      top: -4.3rem;
      background: linear-gradient(180deg, rgba(126, 100, 180, 0.36) 0%, rgba(126, 100, 180, 0.36) 100%);
      filter: blur(72.4528rem);
      transform: rotate(-90deg);
    }

    &__blur2 {
      position: absolute;
      width: 285.48rem;
      height: 281.12rem;
      left: 106.8rem;
      top: 802.83rem;
      background: linear-gradient(180deg, rgba(126, 100, 180, 0.36) 0%, rgba(126, 100, 180, 0.36) 100%);
      filter: blur(80.6305rem);
      transform: rotate(-90deg);
    }
  }

  &__logo {
    width: 105.3rem;
    height: 36rem;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12rem;
  }

  &__badge {
    display: flex;
    align-items: center;
    padding: 10rem 12rem;
    gap: 8rem;
    background: $white;
    border: 1rem solid #E6E6E6;
    border-radius: 24rem;

    &__avatars {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70rem;
      height: 28rem;

      &__item {
        position: relative;
        width: 28rem;
        height: 28rem;
        background: #939393;
        border: 1rem solid $white;
        border-radius: 22rem;
        overflow: hidden;
        margin-left: -8rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &__text {
      font-family: 'DM Sans', sans-serif;
      @include font(14, 600, 18);
      color: #262626;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16rem;

    &__title {
      font-family: 'DM Sans', sans-serif;
      @include font(64, 600, 72);
      color: #FAFAFA;
    }

    &__description {
      font-family: 'DM Sans', sans-serif;
      @include font(24, 500, 32);
      color: #A6A6A6;
      width: 418rem;
    }
  }

  &__button {
    margin-top: auto;
    padding: 12rem 37.5rem;
    gap: 10rem;
    background: #A17FE7;
    border-radius: 24rem;
    border: none;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    @include font(16, 500, 24);
    color: #FAFAFA;
    transition: background 0.3s ease;

    &:hover {
      background: color-mix(in srgb, #A17FE7 95%, white);
    }

    &:active {
      background: color-mix(in srgb, #A17FE7 95%, black);
    }
  }

  &__right {
    position: absolute;
    width: 733rem;
    height: 100%;
    right: 0;
    bottom: 0;
    background: $white;

    &__blur {
      position: absolute;
      width: 562rem;
      height: 633rem;
      left: -259.82rem;
      top: 480.95rem;
      background: linear-gradient(180deg, rgba(161, 127, 231, 0.7) 34.82%, rgba(147, 124, 195, 0.7) 43.88%);
      filter: blur(275.3rem);
      transform: rotate(-59.15deg);
    }

    &__blur2 {
      position: absolute;
      width: 650.32rem;
      height: 569rem;
      left: 763rem;
      top: -156rem;
      background: linear-gradient(180deg, rgba(161, 127, 231, 0.8) 34.82%, rgba(147, 124, 195, 0.8) 43.88%);
      filter: blur(275.3rem);
    }

    &__image {
      position: absolute;
      width: 1118rem;
      height: 839rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: multiply;
    }

    &__text {
      position: absolute;
      width: 121rem;
      height: 26rem;
      left: 50%;
      transform: translateX(-50%);
      top: 721rem;
      font-family: 'DM Sans', sans-serif;
      @include font(18, 600, 26);
      color: #808080;
      text-align: center;
    }
  }
}