@use '../abstracts' as *;

html {
    font-size: calc(1 * 100vw/375);

    @media screen and (min-width: 700px) {
        font-size: calc(1 * 100vw/1440);
    }

    // @media screen and (min-width: 1440px) {
    //     font-size: 1px;
    // }
}

body {
    position: relative;
    height: 100%;
    font-family: $font-family-text;
    overflow-x: hidden !important;
    background-color: #F9F8F8;
    z-index: -1;
}

main {
    overflow: hidden;
    background-color: transparent;

}

img {
    object-fit: cover;
}

.g-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 20rem;
    overflow: hidden;

    @media only screen and (max-width: 700px) {
        padding: 0 20rem;
    }
}

.mb {
    &-20 {
        margin-bottom: 20rem !important;
    }
}

input,
textarea,
input::placeholder,
textarea::placeholder {
    font-family: $font-family-text;
}