// Font variables
$font-family-text: 'DM Sans', sans-serif;

// Screen size breakpoints
$breakpoint-mobile: 700px;

// Color variables
$white: #FFFFFF;
$grayscale-50: #FFFDFD;
$grayscale-100: #FAFAFA;
$grayscale-150: #F5F5F5;
$grayscale-200: #EDEDED;
$grayscale-300: #CCCCCC;
$grayscale-400: #B3B3B3;
$grayscale-500: #999999;
$grayscale-550: #808080;
$grayscale-600: #666666;
$grayscale-700: #404040;
$grayscale-800: #262626;
$grayscale-850: #1A1919;


$progress-bar-bg: #FAFAFA;
$progress-bar-fill: #B196E7;
$progress-bar-glow: #7342D7;