@use '@/assets/styles/abstracts/' as *;

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40rem 60rem 0;
    gap: 8rem;
    width: 100%;
    z-index: 10;
    pointer-events: none;

    &>* {
        pointer-events: auto;
    }

    &__back {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        width: 65rem;
        height: 48rem;
        border: none;
        background: transparent;
        border-radius: 99rem;
        cursor: pointer;
        font-family: 'DM Sans', sans-serif;
        @include font(16, 500, 24);
        color: #999999;
        transition: all 0.3s ease;

        svg {
            width: 20rem;
            height: 20rem;
            color: #999999;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        max-width: 587rem;
    }

    &__title {
        font-family: 'DM Sans', sans-serif;
        @include font(32, 600, 40);
        color: #262626;
    }

    &__description {
        font-family: 'DM Sans', sans-serif;
        @include font(20, 400, 28);
        color: #999999;
    }
}
